################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Com.KiddoPay.Payment.Service/bin
/Com.KiddoPay.Payment.Service/obj
/Com.KiddoPay.Payment.Provider/bin/Debug/netcoreapp2.0
/Com.KiddoPay.Payment.Provider/obj
/Com.KiddoPay.Payment.Provider.XTest/bin/Debug/netcoreapp2.0
/Com.KiddoPay.Payment.Provider.XTest/obj
